<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CGP Data Lab</title>
    <link rel="stylesheet"href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    
  <header class="hero">
    <img src="{{ url_for('static', filename='img/ardilla.png') }}" alt="CGP Data Lab Logo" class="logo">
    <h1>CGP Data Lab</h1>
    <p>Mi marca pesonal en tecnología y software</p>
  </header>

  <section class="tech">
    <h2>Tecnologías</h2>
    <ul>
      <li>Python</li>
      <li>Flask</li>
      <li>HTML & CSS</li>
      <li>Git & GitHub</li>
    </ul>
  </section>

  <footer>
    <p>© 2026 CGP Data Lab</p>/footer>.

</body>
</html>

    
     
