<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CGP Data Lab</title>
    <link rel="stylesheet"href="{{url_for('static',filename='css/style.css')}}">
</head>
<nav class="navbar">
    <nav class="navbar">
    <div class="nav-container">
        <div class="logo-row">
            <img src="{{ url_for('static', filename='img/ardilla-icon.png') }}" alt="logo" class="nav-logo">
            <span class="brand-name">CGP Data Lab</span>
        </div>
        <div class="tech-logs">MERN Stack (Consultick)</div>
    </div>
</nav>
    <button class="btn-nav">Historia</button>
    <button class="btn-nav">Academia</button>
    <button class="btn-nav">Contáctanos</button>
    <button class="btn-nav">Inteligencia Artificial</button>
</div>

<header class="hero">
    <h1>Innovacion en Datos y Software</h1>
    <p>Soluciones potentes para la era digital</p>
    
    <div class="container-3d">
        <button class="btn-3d">Mis Redes Sociales</button>
    </div>
</header>

<section class="news-grid">
    <div class="news-card"><h3>Noticia 1</h3><p>Tecnología</p></div>
    <div class="news-card"><h3>Noticia 2</h3><p>FullStack MERN</p></div>
    <div class="news-card"><h3>Noticia 3</h3><p>Inteligencia Artificial</p></div>
</section>

<footer>
    <p>© 2026 CGP Data Lab</p>
    <div class="contact-footer">WhatsApp | Correo Electrónico</div>
</footer>
</html>

    
     
